.collapse {
	margin-top: 10px;
	margin-right: 40px;
	margin-left: 20px;
	float: right;
}

.nav-item {
	margin-right: 10px;
	margin-left: -10px;
}

.form-control {
	margin-top: 100px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.col-sm-5 {
	position: absolute;
}

.navbar-brand {
	margin-top: 20px;
}

.label {
	position: absolute;
	color: gray;
	margin-top: 83px;
	margin-left: 190px;
	margin-bottom: 20px;
}

.navbar2 {
	margin-top: 110px;
	border: 2px solid black;
}

.navbar2 a {
	color: black;
}

.col-sm-2 {
	margin-top: 10px;
	border: 1px solid black;
}

.col-sm-2 ul li {
	display: inline-block;
	margin: 10px auto;
	border: 5px solid white;
}

.col-sm-2 a {
	display: inline-block;
	text-decoration: none;
	color: black;
}

.col-sm-8 {
	width: 80%;
	background-image: url(gambar.jpg);
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	border: 1px solid black;
	/* padding-left: 10px; */
	/* padding-right: 10px; */
	height: 400px;
	background-color: blue;
}

.jumbotron {
	width: 100%;
}

.col-sm-1 {
	margin-top: 10px;
	border: 1px solid black;
}

.col-sm-1 ul li {
	margin-left: -40px;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 10px;
}

.col-sm-1 a {
	display: inline-block;
	text-decoration: none;
	color: black;
}

.kolom3 {
	height: 400px;
	margin-left: -10px;
}

.kolom1 {
	height: 870px;
}

.kolom1 a {
	display: inline-block;
	margin-top: 10px;
}

.row2 {
	margin-top: -400px;
	margin-left: 240px;
	position: absolute;
}

.card {
	margin-right: 5px;
	height: 400px;
}

.kolom6 {
	margin-top: -5px;
	height: 404px;
	margin-left: 43px;
}

.row2 .col-sm-2 ul li {
	display: inline-block;
	margin: 10px auto;
	border: 10px solid white;
}

.row2 .col-sm-2 a {
	display: inline-block;
	text-decoration: none;
	color: black;
}

footer {
	margin-top: 20px;
	height: 40px;
	background-color: black;
}

footer span {
	color: white;
}

footer p {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}