body
{
    background: url(pattern.jpg);
    margin: 0;
}

header {
   display: inline;
   z-index: 1;
}

h1{
    text-align: center;
    padding: 10px;
}

section
{
    display: flex;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}

ul li{
    display: inline;
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #fafeff;
    margin-bottom: 1%;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.card{
    padding: 20px;
}

footer {
    display: flex;
    position: fixed;
    height: 50px;;
    width: 100%;
    background-color:black;
    color: white;
    justify-content: center;
    align-items: center;
    bottom: 0px;
 }
